@font-face {
    font-family: 'Google Sans Bold';
    src:
        local('Google Sans Bold'),
        url('./Assets/Fonts/ProductSans-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Google Sans Bold Italic';
    src:
        local('Google Sans Bold Italic'),
        url('./Assets/Fonts/ProductSans-BoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'Google Sans Italic';
    src:
        local('Google Sans Italic'),
        url('./Assets/Fonts/ProductSans-Italic.woff') format('woff');
}

@font-face {
    font-family: 'Google Sans Medium';
    src:
        local('Google Sans Medium'),
        url('./Assets/Fonts/ProductSans-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Google Sans Regular';
    src:
        local('Google Sans Regular'),
        url('./Assets/Fonts/ProductSans-Regular.woff') format('woff');
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

@media (min-width: 1680px) {
    html,
    body {
        font-size: 1.1em;
        line-height: normal;
    }
}

@media (min-width: 1920px) {
    html,
    body {
        font-size: 1.15em;
        line-height: normal;
    }
}

/* Scrollbar styles */
/* Scrollbar styles */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #0a325c;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #0d3a9b;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}
